CRUD-Gal
<br>
<button *ngIf="showNew" (click)="nuova()">Nuova</button>
<br>
<br>
<div *ngIf="showFormDati">
    Codice prodotto<input type="text" [(ngModel)]="codice">
    Descrizione prodotto <input type="text" [(ngModel)]="descrizione">
    <button *ngIf="showModifica" (click)="modifica()">Modifica</button>
    <button *ngIf="showConferma" (click)="conferma()">Conferma</button>
    <button *ngIf="showAnnulla" (click)="annulla()">Annulla</button>
    <button *ngIf="showRimuovi" (click)="rimuovi()">Rimuovi</button>
</div>
<br>
<br>
<input type="text" [(ngModel)]="cercaPerCodice">
<button *ngIf="showSearch" (click)="cerca()">Cerca</button>
<br>
<br>
<table id="bordi">
    <tr>
    </tr>
</table>